@import "../../variables.scss";

.equip {
   margin: $marginSection;
   &__title {
      @include textTitle1;
      @media (max-width: 650px) {
         font-size: 26px;
      }
   }
   &__body {
      margin: 40px 0 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      @media (max-width: 900px) {
         grid-template-columns: 1fr 1fr;
         gap: 30px;
      }
      @media (max-width: 500px) {
         grid-template-columns: 1fr;
         gap: 20px;
      }
   }
   &__bodyLine {
      grid-template-columns: 1fr;
   }
   &__titleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__gridView {
      display: flex;
      gap: 10px;
      color: #6d6d6d;
      @media (max-width: 500px) {
         display: none;
      }
      & > * {
         cursor: pointer;
      }
   }
}
.item {
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 12px;
   background: #ebeaea;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
   transition: 0.25s;
   position: relative;
   height: 100%;
   overflow: hidden;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      background: #e0fdff;
      left: -50%;
      top: 0;
      width: 0%;
      height: 100%;
      transform: skew(45deg);
      transition: 0.3s;
   }
   &:hover:before {
      width: 205%;
   }
   & span {
      position: relative;
      z-index: 2;
   }
   &__accessories {
      &::before {
         left: -80%;
      }
      &:hover:before {
         width: 255%;
      }
   }
   @media (max-width: 560px) {
      padding: 10px;
   }
   &:hover .item__imgBody {
      transform: scale(1.1);
   }
   &:hover .item__more {
      background: #2be2ca;
   }
   &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
   }
   &__headerTitle {
      font-size: 16px;
      @include textStyle1;
      text-align: center;
   }
   &__popular {
      position: absolute;
      right: 15px;
      top: 10px;
      color: #f8aa00;
      display: flex;
      align-items: center;
      gap: 5px;
      & span {
         color: #858585;
         font-weight: 600;
         font-size: 16px;
      }
   }
   &__brand {
      font-size: 18px;
      color: $darkBlueColor;
      font-weight: 600;
   }
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      position: relative;
      z-index: 2;
   }
   &__colBody {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
   }
   &__imgBody {
      position: relative;
      height: 200px;
      aspect-ratio: 1/1;
      transition: 0.25s;
   }
   &__description {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      text-align: center;
      flex: 1 1 auto;
   }
   &__paramsBody {
      margin: 20px 0 0 0;
   }
   &__param {
      color: $darkBlueColor;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.2px;
      line-height: 130%;
   }
   &__imgBodyLine {
      height: 240px;
   }
   &__title {
      text-align: center;
      margin: 20px 0 20px 0;
      @include textStyle1;
      font-size: 22px;
      flex: 1 1 auto;
      position: relative;
      z-index: 2;
   }
   &__inverter {
      margin: 20px 0 0 0;
      @include textStyle1;
      position: relative;
      z-index: 2;
   }
   &__params {
      & li {
         position: relative;
         color: $grayColor;
         line-height: 130%;
         &::before {
            content: "";
            position: absolute;
            left: -8px;
            top: 5px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            z-index: 5;
            background: #004aac;
         }
         &:not(:last-child) {
            margin: 0 0 10px 0;
         }
      }
   }
   &__more {
      margin: 20px 0 0 0;
      padding: 10px 20px;
      background: #2886ce;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 600;
      transition: 0.25s;
      position: relative;
      z-index: 2;
   }
}
