@import "../variables.scss";

.preview {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 0;
   pointer-events: none;
   &__video {
      width: 100vw;
      object-fit: cover;
      max-height: 640px;
      @media (max-width: 1000px) {
         height: 600px;
      }
   }
}

.catalog {
   margin: 100px 0 0 0;
   &__title {
      @include textTitle1;
      @media (max-width: 500px) {
         font-size: 28px;
      }
   }
   &__grid {
      margin: 50px 0 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
         "air col duct"
         "air cas multi"
         "vrf vrf rooftop"
         "chil chil kkb";
      @media (max-width: 900px) {
         grid-template-columns: 1fr 1fr;
         grid-template-areas:
            "air air"
            "col cas"
            "duct multi"
            "vrf chil"
            "rooftop kkb";
      }
      @media (max-width: 500px) {
         grid-template-columns: 1fr;
         grid-template-areas:
            "air"
            "col"
            "cas"
            "duct"
            "multi"
            "vrf"
            "chil"
            "rooftop"
            "kkb";
      }

      gap: 20px 20px;
      height: 100%;
      & > * {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
         padding: 20px;
         gap: 10px;
         font-size: 24px;
         font-weight: 600;
         color: $darkBlueColor;
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
         background: linear-gradient(324deg, rgba(209, 209, 209, 1) 0%, rgba(255, 255, 255, 1) 100%);
         border-radius: 8px;
         position: relative;
         z-index: 1;
         overflow: hidden;
         &::before {
            transition: 0.3s;
            content: "";
            position: absolute;
            left: -70%;
            top: 0;
            width: 0%;
            height: 100%;
            z-index: 0;
            background: #e6feff;
            transform: skew(45deg);
         }
         &:hover::before {
            width: 240%;
         }
         @media (max-width: 550px) {
            font-size: 18px;
         }
      }
   }
   &__itemTitle {
      position: relative;
      z-index: 2;
   }
   &__aircond {
      grid-area: air;
      height: 100%;

      @media (max-width: 900px) {
         max-height: 300px;
      }
   }
   &__colSplit {
      grid-area: col;
   }
   &__ductSplit {
      grid-area: duct;
      background: linear-gradient(129deg, rgba(209, 209, 209, 1) 0%, rgba(255, 255, 255, 1) 100%);
   }
   &__casSplit {
      grid-area: cas;
   }
   &__multi {
      grid-area: multi;
      background: linear-gradient(129deg, rgba(209, 209, 209, 1) 0%, rgba(255, 255, 255, 1) 100%);
   }
   &__vrf {
      grid-area: vrf;
   }
   &__chillers {
      grid-area: chil;
   }
   &__rooftop {
      grid-area: rooftop;
      background: linear-gradient(129deg, rgba(209, 209, 209, 1) 0%, rgba(255, 255, 255, 1) 100%);
   }
   &__kkb {
      grid-area: kkb;
      background: linear-gradient(129deg, rgba(209, 209, 209, 1) 0%, rgba(255, 255, 255, 1) 100%);
   }
   &__imgBody {
      position: relative;
      max-width: 300px;
      width: 100%;
      height: 100%;
      aspect-ratio: 4/2;
   }
   &__imgBodyAircond {
      max-width: 3300px;
      max-height: 400px;
      aspect-ratio: 1/2;
      @media (max-width: 900px) {
         aspect-ratio: 3/2;
      }
      @media (max-width: 500px) {
         max-width: 200px;
      }
   }
   &__imgBodyHorizontal {
      max-width: 600px;
      max-height: 160px;
      aspect-ratio: 6/2;
      @media (max-width: 650px) {
         max-height: 200px;
         aspect-ratio: 4/2;
      }
   }
}
.popular {
   margin: 80px 0 0 0;
   &__title {
      @include textTitle1;
      text-align: center;
   }
   &__cols {
      margin: 20px 0 0 0;
      padding: 40px 0;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 40px;
      @media (max-width: 1000px) {
         grid-template-columns: 1fr 1fr;
         padding: 10px 0;
      }
      @media (max-width: 460px) {
         gap: 20px;
      }
      @media (max-width: 400px) {
         grid-template-columns: 1fr;
      }
   }
   &__col {
      padding: 20px 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 10px 5px;
      border-radius: 10px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
         background: #e4e4e4;
      }
      &:hover .popular__link {
         background: #6272fc;
      }
      @media (max-width: 460px) {
         padding: 10px;
      }
   }
   &__imgBody {
      position: relative;
      max-width: 200px;
      width: 100%;
      height: 200px;
      @media (max-width: 550px) {
         height: 150px;
      }
      @media (max-width: 460px) {
         height: 120px;
      }
   }
   &__name {
      margin: 30px 0 0 0;
      @include textStyle1;
      flex: 1 1 auto;
      @media (max-width: 460px) {
         margin: 10px 0 0 0;
      }
   }
   &__description {
      margin: 30px 0 0 0;
      color: $darkBlueColor;
      letter-spacing: 0.2px;
      line-height: 130%;
      flex: 1 1 auto;
      @media (max-width: 460px) {
         margin: 20px 0 0 0;
      }
   }
   &__btn {
      margin: 30px 0 0 0;
      @media (max-width: 460px) {
         margin: 20px 0 0 0;
      }
   }
   &__link {
      font-weight: 600;
      background: #dfe2ff;
      color: #34364e;
      box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 15px 5px;
      padding: 10px 30px;
      transition: 0.25s;
      border-radius: 10px;
      &:hover {
         background: #6272fc;
      }
   }
}
.portfolio {
   margin: 80px 0 0 0;
   position: relative;
   padding: 50px 0;
   &__bg {
      background: #f7f7f7;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 1000vw;
      height: 100%;
      transform: translateX(-20%);
   }
   &__title {
      padding: 14px;
      background: #34364e;
      font-weight: 500;
      color: #fff;
      display: inline-block;
      font-size: 30px;
      text-transform: uppercase;
   }
   &__swiper {
      position: relative;
   }
}
.slide {
   margin: 20px 0 0 0;
   &__imgBody {
      position: relative;
      max-width: 336px;
      width: 100%;
      aspect-ratio: 336/255;
   }
   &__titleBody {
      position: relative;
      z-index: 2;
      background: #fff;
      padding: 20px;
      max-width: 90%;
      margin: -40px auto 0 auto;
   }
   &__title {
      font-size: 20px;
      font-weight: 600;
   }
   &__subtitle {
      font-size: 16px;
      line-height: 22px;
      margin: 20px 0 0 0;
   }
}
.banner {
   margin: 60px 0 0 0;
   &__imgBody {
      display: block;
      position: relative;
      max-width: 1000px;
      width: 100%;
      aspect-ratio: 2/2;
   }
   &__btn {
      display: flex;
      justify-content: center;
      & > * {
         display: flex;
         align-items: center;
         justify-content: center;
         max-width: 300px;
         border-radius: 15px;
         width: 100%;
         height: 50px;
         font-size: 20px;
         letter-spacing: 0.3px;
         font-weight: 600;
         background: #dfe2ff;
         color: #34364e;
         box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 15px 5px;
         overflow: hidden;
         position: relative;

         &::before {
            content: "";
            position: absolute;
            background: #adfaff;
            left: -10%;
            top: 0;
            width: 0%;
            height: 100%;
            transform: skew(45deg);
            transition: 0.3s;
         }
         &:hover:before {
            width: 120%;
         }
         & span {
            position: relative;
            z-index: 2;
         }
      }
   }
}
.new {
   width: 100vw;
   margin: 80px auto 0 auto;
   &__swiper {
      height: 100%;
      position: relative;
   }
   &__slideContainer {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      @media (max-width: 1150px) {
         flex-direction: column;
      }
   }
   &__imgBody {
      position: relative;
      width: 75vw;
      flex: 0 1 75%;
      height: 600px;
      @media (max-width: 1150px) {
         flex: 1 1 auto;
         width: 100%;
         height: 400px;
      }
      @media (max-width: 600px) {
         height: 300px;
      }
   }
   &__descriptions {
      width: 25vw;
      flex: 0 1 25%;
      background: #7c7c7c;
      padding: 40px 20px 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      max-height: 600px;
      @media (max-width: 1150px) {
         flex: 1 1 auto;
         width: 100%;
         margin: -20px 0 0 0;
         position: relative;
         z-index: 2;
         height: 320px;
         padding: 10px;
      }
   }
   &__titleBody {
      & p {
         font-weight: 500;
         color: $darkBlueColor;
         font-size: 16px;
         margin: 25px 0 0 0;
         line-height: 140%;
         letter-spacing: 0.3px;
         @media (max-width: 650px) {
            letter-spacing: 0.1px;
            line-height: 130%;
            margin: 20px 0 0 0;
         }
         @media (max-width: 520px) {
            margin: 10px 0 0 0;
            font-size: 14px;
         }
      }
      @media (max-width: 1150px) {
         flex: 1 1 auto;
      }
   }
   &__title {
      font-size: 24px;
      font-weight: 800;
      color: $darkBlueColor;
   }
   &__btn {
      margin: 30px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 380px) {
         margin: 10px 0 0 0;
      }
      & > * {
         height: 60px;
         max-width: 200px;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 12px;
         color: #34364e;
         font-size: 20px;
         font-weight: 600;
         background: #dfe2ff;
         color: #34364e;
         box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 15px 5px;
         position: relative;
         overflow: hidden;
         &::before {
            content: "";
            position: absolute;
            background: #adfaff;
            left: -15%;
            top: 0;
            width: 0%;
            height: 100%;
            transform: skew(45deg);
            transition: 0.3s;
         }
         &:hover:before {
            width: 130%;
         }
         @media (max-width: 380px) {
            height: 40px;
            max-width: 150px;
            font-size: 16px;
         }
         & span {
            position: relative;
            z-index: 2;
         }
      }
   }
}
.message {
   pointer-events: none;
   position: fixed;
   z-index: 101;
   bottom: 0;
   right: 0;
   height: 550px;
   max-width: 390px;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 0 10px;
   &__container {
      position: relative;
      height: 100%;
      width: 100%;
   }
   &__iconBody {
      pointer-events: all;
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #4b8eb4;
      cursor: pointer;
      opacity: 0.8;
   }
   &__icon {
      height: 70%;
      width: 70%;
      color: #000;
   }
   &__iconChevron {
      height: 40%;
      width: 40%;
   }
}
.formAccept {
   height: 457px;
   &__iconBody {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 auto;
      margin: 30% 0 0 0;
      min-height: 100%;
   }
   &__text {
      margin: 20px 0 0 0;
      font-size: 20px;
      font-weight: 500;
      color: $grayColor;
   }
   &__submit {
      width: 100%;
      margin: 20px 0 0 0;
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 100px 0 0 0;
      & button {
         width: 100%;
         padding: 15px 10px;
         border-radius: 10px;
         background: #0065a0;
         color: #fff;
         font-size: 16px;
         transition: 0.25s;
         &:hover {
            background: #00395a;
         }
      }
   }
}
.form {
   //457px
   border-radius: 15px;
   overflow: hidden;
   background: #f8f8f8;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
   }
   &__active {
      pointer-events: all;
   }
   &__header {
      display: flex;
      justify-content: space-between;
      background: #0065a0;
      height: 60px;
      align-items: center;
      padding: 0 10px;
      color: #fff;
      &__close {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 5px;
         height: 60%;
         border: 1px solid #bdbdbd;
         border-radius: 6px;
         background: transparent;
         & > * {
            width: 100%;
            height: 100%;
            color: #fff;
         }
      }
   }
   &__formBody {
      margin: 15px 0 0 0;
      padding: 10px;
   }
   &__email {
      margin: 10px 0 0 0;
   }
   &__input {
      margin: 10px 0 0 0;
      width: 100%;
      height: 40px;
      border: 1px solid #949494;
      border-radius: 5px;
      padding: 0 10px;
      &__dirty {
         border: 1px solid #ff0000;
      }
   }
   &__text {
      margin: 10px 0 0 0;
   }
   &__inputArea {
      margin: 10px 0 0 0;
      border: 1px solid #949494;
      border-radius: 5px;
      height: 120px;
      width: 100%;
      resize: none;
      padding: 10px;
      &__dirty {
         border: 1px solid #ff0000;
      }
   }
   &__submit {
      margin: 20px 0 0 0;
      display: flex;
      justify-content: center;
      width: 100%;
      & button {
         width: 100%;
         padding: 15px 10px;
         border-radius: 10px;
         background: #0065a0;
         color: #fff;
         font-size: 16px;
         transition: 0.25s;
         &:hover {
            background: #00395a;
         }
      }
   }
}
